/* GLOBAL */
:root {
  --color-orange: #fc9867;
  --color-green: #5ec576;
  --color-yellow: #ffcb03;
  --color-green-darker: #4bbb7d;
  --color-yellow-darker: #ffbb00;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  /* font-family: "Ubuntu", sans-serif; */
  line-height: 1.5;
  position: relative;
}

h1 {
  font-size: 55px;
}

h3 {
  margin-bottom: 1rem;
}

.lead {
  line-height: 175%;
}

/* TODO: */
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* #NAV #JUMBOTRON */
.navbar {
  border-bottom: var(--color-orange) 4px solid;
}

.hidden {
  opacity: 0;
}

.jumbotron {
  background: no-repeat center;
  background-image: url(./img/ryan-mcmanimie.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  border-bottom: var(--color-orange) 4px solid;
}

.jumbotron img {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-width: 40vw;
}

#circle {
  width: 230px;
  height: auto;
  border-radius: 100%;
  background-image: url(/img/foxnebula.jpg);
  background-size: contain;
  margin-top: 85px;
}

@media (min-width: 992px) {
  #namelogo {
    box-shadow: none;
    width: 80%;
    height: auto;
    max-width: 39%;
    transition: max-width 0.5s;
  }

  #namelogo:hover {
    width: 80%;
    max-width: 33%;
    transition: max-width 0.5s;
  }
}

@media (max-width: 991px) {
  #namelogo {
    box-shadow: none;
    width: 80%;
    height: auto;
    max-width: 65%;
    transition: max-width 0.5s;
  }

  #namelogo:hover {
    width: 80%;
    max-width: 60%;
    transition: max-width 0.5s;
  }
}

/* #ABOUT */
/* TODO: HIDE RESPONSIVE */
#about {
  background-color: var(--color-orange);
  padding-top: 180px;
}

#about img {
  width: 90%;
}

.browframe img {
  /* box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
   */
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .about-content {
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .browframe {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 400px;
    background-image: url(/img/frame_chrome_mac_dark.png);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 700px;
  }
}

@media (max-width: 1199px) {
  #about {
    background-color: var(--color-orange);
    padding-top: 90px;
  }

  .browframe {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1.25rem;
    min-height: 600px;
    margin-bottom: 280px;
    position: relative;
  }

  .about-content {
    background-color: #333333;
    border-radius: 20px;
    font-size: 22px;
    min-height: 500px;
    position: relative;
  }

  .about-inner {
    padding: 80px 0px 80px 0px;

    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
}

/* TODO: SCROLL REVEAL */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 700;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* SKILLS */
.skills {
  border-bottom: 4px solid var(--color-orange);
  color: rgb(36, 36, 36);
  padding-bottom: 230px;
}

.skills p {
  display: block;
  list-style-type: none;
  padding-top: 2rem;
  font-weight: 600;
  color: #7510f7;
}
.skills ul {
  list-style-type: none;
  padding: 0px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  background-color: var(--color-green);
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.2rem 3.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 770px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.5rem 2.5rem;
  }
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.6s;
}

.skills__tab-container {
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0px 11% 0px 11%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 220px;
}

.skills__content {
  display: none;
  background-color: white;
  margin: 0px 11% 0px 11%;
  border-radius: 0px 0px 20px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 50px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 220px;
}

@media (max-width: 769px) {
  .skills__tab-container {
    margin: 0px 7% 0px 7%;
  }

  .skills__content {
    margin: 0px 7% 0px 7%;
  }
}

.skills__content--active {
  display: grid;
}

.skills__content p {
  grid-column: 2;
}

.skills__tab {
  margin-right: 2.3rem;
  transform: translateY(-50%);
}

.skills__tab--1 {
  background-color: var(--color-yellow);
}

.skills__tab--1:hover {
  background-color: var(--color-yellow-darker);
}

.skills__tab--2 {
  background-color: var(--color-green);
}

.skills__tab--2:hover {
  background-color: var(--color-green-darker);
}

.skills__tab--active {
  transform: translateY(-66%);
}

/* #WORK */
#work {
  border-bottom: 4px solid var(--color-orange);
  color: rgb(36, 36, 36);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/curtain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 130px 11% 0px 11%;
}

@media (max-width: 799px) {
  #work {
    padding: 130px 9% 130px 9%;
  }
}

.work_box {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bs-dark);
  padding: 20px;
  position: relative;
  bottom: 320px;
  border-radius: 12px;
}

.sample_box {
  overflow: hidden;
  position: relative;
  padding: 0.75rem;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  /* border-radius: 12px; */
}

.sample_box * {
  transition: all 0.35s ease;
}

.sample_box img {
  display: block;
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  /* -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%); */
}

.sample_box:hover img {
  transform: scale(1.2);
}

.sample_box:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #141c3a;
}

.caption {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* #Contact */

#contact {
  color: white;
  padding: 50px 100px 10px 100px;
  background: linear-gradient(-45deg, #ee7752, #cc85a0, #76c5e2, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 30px 5% 30px 5%;
  margin: 30px 20% 30px 20%;
  border-radius: 15px;
  font-size: 22px;
  text-align: left;
}

@media (max-width: 769px) {
  #contact {
    padding: 30px 5% 30px 5%;
  }

  form {
    /* padding: 30px 0px 30px 0px; */
    margin: 30px 0px 30px 0px;
  }
}

form > h2 {
  text-align: center;
}

form .btn {
  width: 50%;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}
